# Pandas 04 | Pemilihan kolom (Column Selection) pada data frame berdasarkan tipe data

## Import Modul
Pertama kita import terlebih dahulu modul nya

In [1]:
import pandas as pd
import numpy as np

print(pd.__version__)
print(np.__version__)

2.2.3
1.26.4

# Persiapan Data Frame

In [6]:
n_rows = 5
n_cols = 2
cols = ['bil_pecahan', 'bil_bulat' ]

df = pd.DataFrame(np.random.randint(1, 20, size=(n_rows, n_cols)), columns=cols)
df['bil_pecahan' ] = df['bil_pecahan' ].astype('float' )

df.index = pd.date_range(start='2023-01-01', periods=n_rows, freq='H') 
df = df.reset_index()

df['teks' ] = list('ABCDE' )

df

C:\Users\admin\AppData\Local\Temp\ipykernel_9592\4267291863.py:8: FutureWarning: 'H' is deprecated and will be removed in a future version, please use 'h' instead.
  df.index = pd.date_range(start='2023-01-01', periods=n_rows, freq='H')

                index  bil_pecahan  bil_bulat teks
0 2023-01-01 00:00:00         10.0         16    A
1 2023-01-01 01:00:00         19.0          4    B
2 2023-01-01 02:00:00         19.0          4    C
3 2023-01-01 03:00:00         15.0         19    D
4 2023-01-01 04:00:00         16.0         16    E

Dilangkah paling awal kita buat barisnya terdiri dari 5 `n_rows = 5`

Dan jumlah kolom ada 2 `n_cols = 2` dan kedua kolom tersebut akan diberi nama `'bil_pecahan'` dan `'bil_bulat'`

Selanjutnya kita akan membuat data frame dengan memanggil fungsi `pd.DataFrame` lalu datanya berupa random interger yang jangkauannya 1 hingga 20 `np.random.randint(1, 20` lalu sizenya di sesuaikan dengan dimensi `n_rows` dan `n_cols` nya. yaitu 5 x 2.

Lalu untuk nama kolom disesuaikan dengan variable `cols` yang berisi nilai `bil_pecahan` dan `bil_bulat`.

Karena dari syntax `np.random.randint` masih berupa interger, kita perlu merubah kolom `bil_pecahan` menjadi float dengan cara `df['bil_pecahan' ] = df['bil_pecahan' ].astype('float' )` dengan memanfaatkan