# Pandas 03 | Konversi Tipe Data Numerik pada Pandas Data Frames

kali ini kita akan mempelajari cara untuk melakukan konversi tipe data string ke numerik pada kolom Data Frame

In [7]:
import pandas as pd
print(pd.__version__)

2.2.3

## Persiapan Data Frame

In [8]:
data = {'col1' : ['1', '2', '3', 'teks'],
        'col2' : ['1', '2', '3', '4']}

df = pd.DataFrame(data)
df

   col1 col2
0     1    1
1     2    2
2     3    3
3  teks    4

Data Frame diatas memanfaatkan dictionary dan list. Dictionary yang terdiri dari 2 keys dan valuesnya.

untuk keys pertama `col1` memiliki values `[1, 2, 3, 'teks']`
untuk keys kedua yakni `col2` memiliki values `[1, 2, 3, 4]`

nama `col1` dan `col2` akan menjadi nama kolom.

untuk values `[1, 2, 3, 'teks']` akan menjadi data - data dari kolom pertama.

begitu pula untuk `[1, 2, 3, 4]` akan menjadi data - data dari kolom kedua.

lalu dari dictionary diatas kita panggil dalam bentuk data frame dengan `df = pd.DataFrame(data)`

In [9]:
df.dtypes

col1    object
col2    object
dtype: object

Kenapa type data kolom untuk `col1` object? karena masih berupa string. `1` diapit tanda petik menjadi `'1'`

## Konversi tipe data dengan fungsi `astype()`

Nah disini kita akan mencoba konversi tipe data, dimana `col2` akan kita konversi menjadi tipe data interger.

caranya cukup mudah, dengan memanfaatkan sebuah function yang namanya `astype`.

In [11]:
df_x = df.astype({'col2':'int'})
df_x

   col1  col2
0     1     1
1     2     2
2     3     3
3  teks     4

Disini kita panggil `df.astype()` lalu kita masukan dictionary di dalamnya menjadi `df.astype({'col2':'int'})` 

cara membacanya, kita akan mengubah `astype()` kolom yang ada di `col2` menjadi bentuk `int` atau interger

lalu hasil konversi tipe data tadi kita simpan dalam sebuah variable baru `df_x`

In [13]:
df_x.dtypes

col1    object
col2     int32
dtype: object

tipe datanya sudah berubah menjadi `int32`

kita juga bisa ubah menjadi tipe data lain misalkan `float`

tinggal kita ganti dari `int` ke `float`

In [14]:
df_x = df.astype({'col2':'float'})
df_x

   col1  col2
0     1   1.0
1     2   2.0
2     3   3.0
3  teks   4.0

In [15]:
df_x.dtypes

col1     object
col2    float64
dtype: object

Sebenarnya juga tanpa dilihat bisa, bilangan yang awalnya bilangan bulat menjadi bilangan koma yg dimana itu mengindikasikan itu bilangan float.

Nah sekarang bagaimana carana kita mengubah data yang ada string nya? kita coba dulu

In [16]:
df_x = df.astype({'col1':'int'})
df_x

ValueError: invalid literal for int() with base 10: 'teks': Error while type casting for column 'col1'

tidak bisa, di beritahukan disini ada beberapa baris (1 baris disini) yang memang tidak bisa dikonversikan kedalam bentuk tipe data interger.

Nah kalo ga bisa apakah kita pasrah? ga dong. Untungnya ada fungsi lain yang bisa mengatasi hal tersebut

## Konversi tipe data numerik dengan fungsi `to_numeric()`

In [17]:
df.apply(pd.to_numeric, errors='coerce')

   col1  col2
0   1.0     1
1   2.0     2
2   3.0     3
3   NaN     4

Disini ada sebuah function `.to_numeric` dimana function tersebut akan di `apply` di data frame kita `df`

lalu ada parameter lain yaitu `errors` yang memiliki nilai `coerce`, jadi kalo andai kata dalam proses konversi ke tipe data numeric ada yang memang tidak bisa diubah `'tesk'`, maka data tersebut akan tergantikan oleh `NaN`.

`NaN` sendiri merupakan `N`ot `a` `N`umber atau missing value.