# Pandas 01 | Menyertakan Prefix dan Suffix pada seluruh Kolom Pandas Data Frame

Apa itu Python Pandas?
Pandas merupakan module dalam pemrograman Python yang memfasilitasi kita dalam bekerja di bidang data science dan machine learning.

Salah satu komponen penting dari Pandas adalah Pandas Data Frame, ini merupakan struktur data utama untuk melakukan pengolahan data dalam pemrograman Python.

Pertama - tama kita import dulu 2 modul penting yang akan kita gunakan dalam sesi pembelajaran kali ini. kedua modul tersebut adalah `pandas` dan `numpy`

In [1]:
import pandas as pd
import numpy as np

print(pd.__version__)
print(np.__version__)

2.2.3
1.26.4

`pandas` kita kita import sebagai `pd` dan `numpy` kita import sebagai `np`. 

lalu kita juga kita tampilkan versi dari `pandas` dan `numpy` yang digunakan.

untuk `pandas` sudah versi 2.2.3

untuk `numpy` versinya 1.26.4 (14 Januari 2024)

kali ini kita akan membuat sebuah Pandas data Frame, disini kita akan membuat data frame sederhana

In [2]:
n_rows = 5
n_cols = 5
cols = tuple('ABCDE')

df = pd.DataFrame(np.random.randint(1, 10, size = (n_rows, n_cols)),columns=cols)
df

   A  B  C  D  E
0  2  4  7  1  5
1  8  5  1  6  8
2  3  6  6  4  6
3  6  5  2  4  8
4  8  1  1  7  4

Dimana jumlah baris / `n_rows` ada 5, dan kolom / `n_cols` ada 5. dan untuk kolomnya kita beri label `'ABCDE'`. disini kita memanggil fungsi tuple. Tuple ini dikenakan pada string (`ABCDE`). 

Efeknya apa sih? ketika dikenakan pada suatu string, efeknya seperti code dibawah â†“ (code 3)

kembali ke code diatas, 

`pd.DataFrame`, berarti kita ingin membuat sebuah objek data frame. 

lalu datanya akan di isi oleh bilangan - bilangan interger yang dipilih secara random atau acak `np.random.randint` 

nah bilangan bilangan yang akan di random adalah angka yang dimulai dari 1, hingga 10 `(1, 10 )`

lalu sizenya, atau dimensinya ditentukan oleh jumlah baris dan kolom `n_rows` dan `n_cols`. dimana sudah kita inisiasikan diatas `n_rows = 5` dan `n_cols = 5`

lalu juga menspesifikan nilai parameter kolom `columns` berdasarkan cols `cols = tuple('ABCDE') `

In [3]:
tuple('ABCDE')

('A', 'B', 'C', 'D', 'E')

ketika string kita konversikan sebagai tuple, maka string tersebut akan menghasilkan suatu tuple yang elemenya terdiri dari karakter - karakter tersebut.

ABCDE -> 'A', 'B', 'C', 'D', 'E'

## Menyertakan Prefix Kolom

ide utamanya adalah kita ingin menambahkan `prefix`. `prefix` itu berarati string di depan suatu string.

In [6]:
df

   A  B  C  D  E
0  2  4  7  1  5
1  8  5  1  6  8
2  3  6  6  4  6
3  6  5  2  4  8
4  8  1  1  7  4

string disini pada kolom ada kolom A, Kolom B, C dan seterusnya. kita ingin mengubah nama kolom tersebut menjadi `kolom_A`, `kolom_B`, dan seterusnya. yang dalam artian kita ingin menyertakan suatu kolom 'prefix' `kolom_` untuk semua nama kolom diatas yang masih A B C D dan E.

In [7]:
df.add_prefix('kolom_')

   kolom_A  kolom_B  kolom_C  kolom_D  kolom_E
0        2        4        7        1        5
1        8        5        1        6        8
2        3        6        6        4        6
3        6        5        2        4        8
4        8        1        1        7        4

## Menyertakan Suffix Kolom

lalu kalo kita ingin menyiapkan suffix, atau sekumpulan string dibagian belakang String nama kolom, maka fungsi yang dapat kita gunakan adalah `add.suffix()`

In [8]:
df.add_suffix('_field') # disini string yang ingin kita masukan dalam suffix adalah '_field'

   A_field  B_field  C_field  D_field  E_field
0        2        4        7        1        5
1        8        5        1        6        8
2        3        6        6        4        6
3        6        5        2        4        8
4        8        1        1        7        4

hasilnya seperti ini, nama kolomnya berubah menjadi `A_field` `B_field` `C_field` `D_field` dan `E_field`

Untuk sementara itu cara menambahkan `suffix` dan `prefix` pada kolom suatu data Frame