# Pandas 02: Pemilihan baris (rows selection) pada Data Frame

In [1]:
import pandas as pd
import numpy as np

print(pd.__version__)
print(np.__version__)

2.2.3
1.26.4

## Persiapan Data Frame

prosesnya mirip dengan proses sebelumnya, dimana kita akan men-generate sebuah Data Frame yang terdiri interger secara acak. dan setiap kolom kita beri label A, B, C dst. Hanya saja kali ini ada perbedaan dimana barisnya adalah 10, dimana sebelumnya adalah 5.

In [2]:
n_rows = 10
n_cols = 5
cols = tuple('ABCDE')

df = pd.DataFrame(np.random.randint(1, 5, size = (n_rows, n_cols)),columns=cols)
df

   A  B  C  D  E
0  2  2  2  3  1
1  2  4  4  2  3
2  3  3  2  3  1
3  2  1  3  4  3
4  3  3  1  4  3
5  4  4  1  1  4
6  4  3  1  4  4
7  1  1  4  3  4
8  1  1  1  2  4
9  4  2  3  3  1

Selain jumlah baris yang berbeda, kali ini random interger juga dimulai dari 1 - 5 saja.

## Selection dengan operator `OR` atau |

logika `or` atau jika direpresentasikan dalam bentuk karakter type `|`. Disini kita akan menyeleksi baris - baris yang kolom `A`-nya bernilai 1 atau kolom `A` yang nilainya `3`

In [3]:
df[(df['A'] == 1) | (df['A'] == 3)]

   A  B  C  D  E
2  3  3  2  3  1
4  3  3  1  4  3
7  1  1  4  3  4
8  1  1  1  2  4

Yang ditampilkan bisa berbeda - beda setiap run. Selama nilainya terpenuhi, itulah yang muncul. 
Ada cara lain juga selain menggunakan `or`, yaitu menggunakan `isin`

## Selection dengan fungsi `isin()`

In [7]:
df[df['A'].isin([1, 3])]

   A  B  C  D  E
2  3  3  2  3  1
4  3  3  1  4  3
7  1  1  4  3  4
8  1  1  1  2  4

Jadi logika dari `isin()` ini sama dengan logika `or`. 

Dengan cara memasukan `isin.()` lalu masukan suatu parameter bertipe list yang nilainya 1 - 3 -> `isin.([1, 3])`

maka, hasilnya sama dengan sebelumnya.

Nah sekarang bagaimana jika kasusnya kita ingin menampilkan Data Frame di kolom `A` yang **BUKAN** 1 dan 3?

In [8]:
df[not df['A'].isin([1, 3])]

ValueError: The truth value of a Series is ambiguous. Use a.empty, a.bool(), a.item(), a.any() or a.all().

Error karena `not` tidak dikenali dalam Pandas, untuk mengatasi itu kita bisa menggunakan `~` sebagai pengganti `not`

sama seperti `or` yang menggunakan `|`

In [9]:
df[~ df['A'].isin([1, 3])]

   A  B  C  D  E
0  2  2  2  3  1
1  2  4  4  2  3
3  2  1  3  4  3
5  4  4  1  1  4
6  4  3  1  4  4
9  4  2  3  3  1

Maka yang tampil adalah baris - baris yang nilai nya **bukan** 1 dan 3